---
layout: default
---

<div class="home">
  <div class="short-bio">
    {{ site.description }}
  </div>

  <ul class="projects-list">
    {% assign posts = site.works | sort:"weight"  %}
    {% for post in posts %}
      <li style="background-color: {{ post.bg-color }};">
        <div class="projects-content" style="background-color: {{ post.content-bg-color }};">
          <h2>
            {{ post.title }}
          </h2>
          {{ post.content }}
          {% if post.site-url %}
          <div class="project-link">
            <a href="{{ post.site-url }}">Visit Site</a>
          </div>
          {% else %}
          <div class="project-link">
            Site offline
          </div>
          {% endif %}
        </div>
        {% for image in post.images %}
          <img src="{{ site.baseurl }}/assets/images/works/{{ image }}" alt="project image - {{ post.title }}">
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

</div>
