.short-bio {
  font-size: 3rem;
  line-height: 1.2;
  margin: 6rem auto;
  width: 600px;
  @include media(not-large) {
    font-size: 2rem;
    width: 400px;
  }
  @include media(mobile-only) {
    font-size: 1rem;
    width: 190px;
  }
}
