// SITE
body {
  font-size: 1.5em;
  line-height: 1.3em;
  position: relative;
  min-width: 320px;
  max-width: 50em;
  max-width: none;
  margin: 0 auto;
  padding: 1.5em;
  padding: 0;
  color: #222222;
  border: $border-width solid $c-page-border;
  background-color: #ffffff;
  @include media(not-large) {
    font-size: 1em;
  }
}
